<template>
	<div>
		<b-card no-body>
			<div slot="header">
				<h4> Sales List</h4>
			</div>
			<b-card-body>
				<b-row>
					<b-form inline @submit="onSubmit">
					  <b-form-group
						id="start_date"
						label="Start Date"
						label-for="start_date"
						class="col-md-3"
					  >
						<b-form-datepicker :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }" id="start-datepicker" v-model="searchData.startDate" class="mb-2 mr-sm-2"></b-form-datepicker>
					  </b-form-group>

					  <b-form-group
						id="end_date"
						label="End Date"
						label-for="end_date"
						class="col-md-3"
					  >
						<b-form-datepicker :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }" id="end-datepicker" v-model="searchData.endDate" class="mb-2 mr-sm-2"></b-form-datepicker>
					  </b-form-group>

						<b-form-group
						id="group_by"
						label="Group By"
						label-for="group_by"
						class="col-md-3"
					  >
						<b-form-select v-model="searchData.groupby" :options="options"></b-form-select>
					  </b-form-group>
						
					  
					  <b-button class="mb-2 mr-sm-2" type="submit" variant="primary">Submit</b-button>
					</b-form>
				</b-col-12>
					</b-row>
				<b-row class="float-right">
					<b-col md="12" class="my-2">
						<b-input-group>
							<b-form-input v-model="filter" placeholder="Type to Search"></b-form-input>
						</b-input-group>
					</b-col>
				</b-row>
				<b-table id="sales-table" responsive
					:items="salesData"
					:current-page="currentPage"
					:per-page="perPage"
					:filter="filter"
					@filtered="onFiltered"
					head-variant="light"
					:busy.sync="isBusy"
					:fields="sortable_cols"
					>
					<template #head(channelid)="data">
						Channel
					</template>

					<template #cell(MONTH(viewdate))="data">
						{{ monthNames[data.value] }}
					</template>
					
					<template #cell(amount)="data">
						${{ data.value }}
					</template>
				</b-table>
				<b-row>
					<b-col class="my-1" v-if="totalRows > perPage">
						<b-pagination
							v-model="currentPage"
							:total-rows="totalRows"
							:per-page="perPage"
							class="my-0"
							align="right"
						></b-pagination>
					</b-col>
				</b-row>
			</b-card-body>
		</b-card>	
    </div>
</template>
<style>
#sales-table{
	text-align:center
}
</style>
<script>
    export default {
		created(){
			this.getSalesList();
		},
		data() {
		  return {
				fields: [
					{key: 'views',sortable: true},
				],
				salesData: [],
				filter: null,
				isBusy: false,
				totalRows: 1,
				currentPage: 1,
				perPage: 10,
				searchData: {
					startDate: '2019-01-10',
					endDate: '2020-12-31',
					groupby: 'day',
				},
				show: true,
				options: [
				  { value: 'day', text: 'Day' },
				  { value: 'week', text: 'Week' },
				  { value: 'month', text: 'Month' }
				],
				monthNames:["","January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December"],
			}
		},
		mounted() {
		  // Set the initial number of items
		  this.totalRows = this.salesData.length
		},
		methods: {
			getSalesList(){
				var start_date = this.searchData.startDate;
				var end_date = this.searchData.endDate;
				var group_by = this.searchData.groupby; 
				this.isBusy = true;
				axios.get('https://demo.clickmedia.gr/getdata.php?from='+start_date+'&to='+end_date+'&groupby='+group_by)
				.then((response)=>{
					this.salesData 	= response.data;
					this.totalRows = this.salesData.length;
					this.isBusy = false;
				})
				.catch(error => {});
			},
			onFiltered(filteredItems) {
				// Trigger pagination to update the number of buttons/pages due to filtering
				this.totalRows = filteredItems.length
				this.currentPage = 1
			},
			onSubmit(event) {
				event.preventDefault()
				this.getSalesList();
			}
		},
		computed: {
			sortable_cols() {
				if(this.salesData[0]){
					return Object.keys(this.salesData[0]).map(f => {
						let tmp = {};
						tmp.sortable = true;
						tmp.key = f;
						return tmp
					})
				}
			}
		}
    }
</script>
